<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- Configurazione della sessione -->
    <session-config>
        <session-timeout>30</session-timeout> <!-- Tempo di scadenza della sessione in minuti -->
    </session-config>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>tweb.login.AuthFilter</filter-class> <!-- Sostituisci con il percorso effettivo della tua classe CorsFilter -->
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>



</web-app>
